* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: "Dancing Script";
}

.contenedor {

	width:90%;
	max-width:900px;
	margin:auto;

	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}

body {
	background:#e9e9e9;
}

header {
	background-color: #5b7989;
	width:100%;
	padding:20px;

	/* Flexbox */
	display: flex;
	justify-content:space-between;
	align-items:center;

	flex-direction:row;
	flex-wrap:wrap;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

header .logo {
	color:#fff;
	font-size:20px;
}

header .logo img {
	width:50px;
	vertical-align: top;
}

header .logo a {
	color:#fff;
	text-decoration: none;
	line-height:50px;
}

header nav {
	width:50%;
	/* Flexbox */

	display:flex;
	flex-wrap:wrap;
	align-items:center;
}

header nav a {

	color:#fff;
	text-align: center;
	padding:10px;

	/* Flexbox */
	flex-grow:1;
}

header nav a:hover {
	background:#82c3a6;
}

.main {
	background:#82c3a6;
	padding:20px;

	flex:1 1 100%;
	/*flex:1;*/
}

.main article {
	margin-bottom: 20px;
	padding-bottom:20px;
	border-bottom:1px solid #000;
}

.main article:nth-last-child(1){
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom:none;
}

aside {
	background:#d5c75f;
	padding:20px;
	/*FLEX*/
	flex:1 1 50%;
	/*flex:0 0 300px;*/

	display: flex;
	flex-wrap:nowrap;
	flex-direction:row;
	justify-content:flex-start;
}

aside .widget {
	margin:2%;
}

aside .widget img, article img{
  box-shadow: 2px 2px #02010a;
}

footer {
	background:#C6d5c5;
	width: 100%;
	padding:20px;

	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

footer .links {
	text-align: center;
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;
	padding: 10px;
}

footer .links a {
	flex-grow:1;

	color:#000000;
	padding:0px;
	text-align: left;
	text-decoration:none;
	vertical-align: middle;
}

footer .links a:hover {
	background:#d5c75f;
}

#correo{
	text-decoration: underline;
}
@media screen and (max-width: 900px) {
	.contenedor {
		flex-direction:column;
	}

	header {
		flex-direction:column;
		padding:0;
	}

	header .logo {
		margin:20px 0;
	}

	header nav {
		width: 100%;
	}

	aside {
		flex-direction:row;
		flex:0;
	}

	aside .widget {
		flex-grow:1;
	}
}

@media screen and (max-width: 600px) {
	aside {
		flex-direction:column;
	}

	footer {
		justify-content:space-around;
	}
}

@media screen and (max-width: 420px) {
	aside {
		flex-direction:column;
	}

	footer {
		justify-content:space-around;
	}

  header .logo {
    display: flex;
    flex-direction: column;
    align-items:center;
	}
}

#paisaje:hover{
	transform : rotate(10deg);
	-moz-transform : rotate(10deg); /* Firefox */
	-webkit-transform : rotate(10deg); /* Chrome - Safari */
	-o-transform : rotate(10deg); /* Opera */
	box-shadow: 2px 2px #82c3a6;
	border: 2px solid black;
}
#paisaje, #retrato{
	transition: 2.5s ease;
 	-moz-transition: 2.5s ease; /* Firefox */
 	-webkit-transition: 2.5s ease; /* Chrome - Safari */
 	-o-transition: 2.5s ease; /* Opera */
}
#retrato:hover {
    transform: translate(20px, -5px);
    -ms-transform: translate(20px, -5px); /* IE 9 */
    -webkit-transform: translate(20px, -5px); /* Safari y Chrome */
    -moz-transform: translate(20px, -5px); /* Firefox */
		box-shadow: 2px 2px #82c3a6;
		border: 2px solid black;
}
